.blog-post__header {
	text-align: center;
	margin: var(--token-spacing-md) 0 var(--token-spacing-xxl);
}

.blog-post__metadata {
	margin: 0 0 var(--token-spacing-xxs);
	display: flex;
	flex-wrap: wrap;
	font-size: var(--token-font-size-sm);
	justify-content: center;
	align-items: center;
	gap: var(--token-spacing-xl);
	text-transform: uppercase;

	img {
		width: 24px;
		height: 24px;
	}

	time,
	span {
		display: flex;
		align-items: center;
		gap: var(--token-spacing-sm);
		color: var(--token-color-gray-medium);
	}
}

/* .blog-post__metadata__date {
	color: var(--token-color-gray-medium);
}

.blog-post__metadata__tags {
	border-radius: var(--token-border-radius-default);
	background-color: var(--token-color-blue);
	color: var(--token-color-white);
	display: inline-block;
	line-height: var(--token-line-height-sm);
	padding: var(--token-spacing-xxs) var(--token-spacing-xs);
	white-space: nowrap;
} */
