.base-heading {
  font-weight: var(--token-font-weight-bold);
  line-height: var(--token-line-height-md);
}

.base-paragraph {
  font-size: var(--token-font-size-md);
  font-weight: var(--token-font-weight-light);
  line-height: var(--token-line-height-lg);
}

.base-link {
  border-bottom: 1px solid var(--token-color-blue);
  color: var(--token-color-blue);
  padding-bottom: 1px;
  text-decoration: none;
  word-break: break-word;

  &:hover {
    border-bottom: 3px solid var(--token-color-blue);
  }

  /* baseFocusStyle */
  &:focus {
    outline: 3px solid var(--token-color-red);
    outline-offset: 2px;
    border-radius: 1px;
    border-bottom-style: none;
  }

  &:focus:hover {
    border-bottom-style: none;
  }
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
