<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title or metadata.title }}</title>
    {# Capture the CSS content as a Nunjucks variable and feed it through to the cssmin filter to minify it #}
    {% set css %}
    {% include "../node_modules/@csstools/normalize.css/normalize.css" %}
    {% include "styles/tokens.css" %}
    {% include "styles/global.css" %}
    {% include "styles/common.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}</style>
    <style></style>
  </head>
  <body>
    <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
    <header>
      <a href="/" class="home-link">{{ metadata.title }}</a>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav></nav>
    </header>
    <main id="main">
      <h1>{{ heading or title | safe }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>