<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<title>{{ title or metadata.title }}</title>
		{# Capture the CSS content as a Nunjucks variable and feed it through to the cssmin filter to minify it #}
		{% set css %}
		{% include "../../node_modules/@csstools/normalize.css/normalize.css" %}
		{% include "../styles/tokens.css" %}
		{% include "../styles/global.css" %}
		{% include "../styles/common.css" %}
		{% include "../styles/layout.css" %}
		{% endset %}
		<style>
			{{css | cssmin | safe}}
		</style>
	</head>
	<body>

		<a href="#main" class="layout-skip-link">
        	Skip to main content
      	</a>

		<header class="layout-header">
			<nav class="layout-header__navigation">
				<a href="/" class="layout-header__site-name__link common-focus-ring">
					<img class="layout-header__site-name__emoji" src="/assets/engineer.svg" alt=""/>
					<span class="layout-header__site-name__container">
						<div class="layout-header__site-name__title">
              F. Knüssel<span class="visually-hidden">: </span>
						</div>
						<div class="layout-header__site-name__tagline">Frontend Developer</div>
					</span>
				</a>

				{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
				<ul class="layout-header__navigation__list">
					<li class="layout-header__navigation__list-item">
						<a href="/about" class="layout-header__navigation__link common-focus-ring">
							About
						</a>
					</li>
					<li class="layout-header__navigation__list-item">
						<a href="/" class="layout-header__navigation__link common-focus-ring">
							Blog
						</a>
					</li>
					<li class="layout-header__navigation__list-item">
						<a href="/uses" class="layout-header__navigation__link common-focus-ring">
							Uses
						</a>
					</li>
					<li class="layout-header__navigation__list-item">
						<a href="/now" class="layout-header__navigation__link common-focus-ring">
							Now
						</a>
					</li>
					<li class="layout-header__navigation__list-item">
						<a href="/colophon" class="layout-header__navigation__link common-focus-ring">
							Colophon
						</a>
					</li>
					<li class="layout-header__navigation__list-item">
						<a href="https://github.com/fed" class="layout-header__navigation__link common-focus-ring">
							GitHub
						</a>
					</li>
					<li class="layout-header__navigation__list-item">
						<a href="/feed.xml" class="layout-header__navigation__link common-focus-ring">
							Feed
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="layout-content" id="main">
			{{ content | safe }}
		</main>

	</body>
</html>